.market-analysis {
    @include flex(row, space-between, stretch);
    gap: 20px;

    &__chart {
        flex: 1;
        box-shadow: 0px 0px 7px 0px $pClr3;
        object-fit: contain;
    }
}

@media (max-width: 1350px) {
    .market-analysis {
        
        .market-list{
            height: 500px;
            
            &__list{
                height: 95%;
            }
        }

        &__chart {
            width: 500px;
        }
    }
}

@media (max-width: 1000px) {
    .market-analysis {
        flex-direction: column;
        
        .market-list{
            height: 300px;
        }

        &__chart {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}


@media (min-width: break-normal) {
}

@media (min-width: break-wide) {
}
