@media (max-width: $break-normal) {
    .market-analysis {
        
        .market-list{
            height: 500px;
            
            &__list{
                height: 95%;
            }
        }

        &__chart {
            width: 500px;
        }
    }
}

@media (max-width: $break-narrow) {
    .market-analysis {
        flex-direction: column;
        
        .market-list{
            height: 300px;
        }

        &__chart {
            width: 100%;
        }
    }
}