//COLORS
$pClr1: rgb(248, 248, 248);
$pClr2: rgb(218, 218, 218);
$pClr3: rgb(137, 137, 137);
$pClr4: rgb(120, 120, 120);
$pClr5: rgb(28, 28, 28);

// LAYOUT BREAKPOINTS
$break-narrow: 1000px;
$break-normal: 1350px;
